.f {
  line-height: 1;

  &__wrapper {}
  &__fieldset {
    margin: 0 0 40px;

    &:first-child, &:first-of-type {
      margin-top: 40px;
    }
  }
  &__legend {
    margin: 0 0 20px;
    padding: 0 0 4px;
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid #ddd;
  }

  .modal & {
    padding-top: 20px;
  }
}
