.list {
  &__list, ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .list__list, ul {
      margin: 10px 0 0 20px;
    }
  }

  &__item, li {
    margin: 0 0 10px;
    padding: 0;
  }

  &__placeholder, .placeholder {
    min-height: unset;
    margin: 0 0 10px;
    padding: 0;
    border: 1px dashed #4183c4;
    border-radius: 4px;
    background-color: unset;

    &.mjs-nestedSortable-error {
      border-color: #ddd;
    }
  }

  .ui-sortable {
    &::before, &::after {
      display: none;
    }
  }
}
