// Because Bootstrap
// scss-lint:disable QualifyingElement
.table-list {
  .table {
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #eceeef;

    th {
      font-size: 12px;
    }

    td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .custom-select {
    //width: 100%;
  }

  td.table-list__move {
    width: 16px;
    padding-top: 10px;
    padding-bottom: 0;
  }

  td.table-list__image {
    width: 100px;
    text-align: center;
  }

  td.table-list__controls {
    width: 64px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 100px;
    text-align: right;
    white-space: nowrap;

    .icon + .icon.icon--edit {
      margin-left: 24px;
    }
  }

  td.table-list__check {
    width: 16px;
    padding-top: 10px;
    padding-bottom: 0;
  }

  &__details {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      color: $text-light-color;
      font-size: 12px;
      line-height: 1.2;
    }
  }

  &__action {
    padding: 0 0 0 0.3em;

    .table + & {
      padding-top: 8px;
    }

    .btn {
      vertical-align: top;
    }
  }

  &--centered {
    .table {
      td {
        vertical-align: middle;
      }
    }

    .f-check, .icon {
      vertical-align: middle;
    }

    td.table-list__move, td.table-list__controls, td.table-list__check {
      padding-top: 0;
    }
  }

  .icon-more-arrow {
    margin-left: 5px;
    transition: all 0.3s;

    //&--down {
    //
    //}
  }

  a[href="/admin/users?direction=asc&order_by=email"] + .icon-chevron-down > .icon-more-arrow svg {
    transform: rotate(180deg);
    transition: all 0.3s;
  }
}
// scss-lint:enable QualifyingElement
